body {
  font-size: 16px;
  color: #8d9698;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  padding: 1rem;
  padding-bottom: 10rem;
  flex-flow: row wrap;
}

.primary-nominated-btn {
  background-color: #df5476;
  color: #faf0eb;
  border: solid 1px #df5476;
  border-radius: 5px;
}

.primary-nominated-btn:focus,
.primary-nominated-btn:hover,
.primary-nominated-btn:active {
  background-color: #faf0eb;
  color: #df5476;
  outline: none;
}

.search-bar-body {
  background-color: #d7dadb;
  border: solid 1px #d7dadb;
}

.search-bar-body input {
  color: #5c5a5b;
}

.search-bar-body input::placeholder {
  color: #b5bbc9;
}
.search-bar-body:focus,
.search-bar-body:hover,
.search-bar-body:active {
  border: 1px solid #df5476;
  filter: drop-shadow(0px 4px 4px #fbeaee);
}

.img {
  box-shadow: 0 5px 80px rgba(255, 255, 255, 0.2);
}

.Toastify__toast--warning {
  color: #000;
  padding: 0.5rem 1rem;
  min-height: max-content;
}

.Toastify__close-button {
  color: #000;
}

.movie-text {
  transition: all 0.2s ease;
}
.movie-text:hover {
  border-color: #0687ff;
}

.page-title {
  color: #5c5a5b;
}

.page-title-text {
  color: #8d9698;
}

.home-poster {
  width: 80px;
  height: 92px;
}

.showMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .category-list {
    background: #fff;
    height: 100vh;
    width: 80% !important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    height: 100%;
    position: fixed !important;
    z-index: 222;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    overflow: auto;
    padding: 40px 10px;
  }
  .category-list.active {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 0.25s ease !important;
    transform: translateX(0) !important;
  }

  .showMobile {
    display: block;
  }

  .category-list-background {
    position: fixed;
    width: 100%;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .category-list-background.active {
    display: block;
  }
}
